/* Comment */

.container {
  color : var(--color-font);
  margin-top: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.commentHeader {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.commentHeader div {
  margin-right: 20px;
  font-size: 16px;
}

.commentHeader button {
  width: 110px;
  font-size: 16px;
  background: none;
  color : var(--color-font);
  border: none;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.commentHeader button:hover::before {
  content: "댓글 정렬";
  width: 80px;
  height: 25px;
  z-index: 1;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-main-description-hover);
  position: absolute;
  top: calc(100% + 15px);
  left: calc(50% - 40px);
  font-size: 13px;
}

.commentHeader button:active {
  background-color: rgba(100, 100, 100, 0.7);
}

.commentAdd {
  width: 100%;
  margin: 20px auto;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  position: relative;
  box-sizing: border-box;
}

.commentAdd img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.commentForm {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.commentInput {
  height: 25px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid rgba(100, 100, 100, 0.7);
  font-size: 15px;
  outline: none;
  transition: border 0.5s;
  background-color: var(--color-bg-main);
  transition: 0.3s ease;
}

.commentInput:focus {
  border-bottom: 2.5px solid #fff;
}

.commentToggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.commentCancle,
.commentRegister {
  width: 55px;
  height: 35px;
  border-radius: 20px;
  background: none;
  border: 0;
  cursor: pointer;
  color: var(--color-font);
}

.commentCancle {
  margin-right: 5px;
}

.commentCancle:hover,
.commentRegister:hover {
  background: rgba(100, 100, 100, 0.7);
}
