.wrapper {
  display: flex;
  align-items: center;
  
}

.info {
  white-space: nowrap;
}

.subscribe {
  margin-left: 25px;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  font-size: 1rem;
  border: none;
  border-radius: 15px;
  color: var(--color-font);
  background-color: var(--color-main-description);
}
.subscribe:hover {
  background-color: var(--color-main-description-hover);
}
